.SearchUser{
     // border-radius: 1rem;
     // background: #EDEAE7;
     width: 100%;
     // padding-top: 2rem;
     // padding-left: 3rem;
     font-size: 15px;
     overflow: auto;
     // background: #F4F5F9;
     .information-user{
          margin: 0rem 0rem 0.5rem 0.5rem;
          padding: 1rem 0rem 0rem 2rem;
          height: 90vh;
          width: 98%;
          .infor-user{
               width: 100%;
               background: #FFFF;
               border-radius: 1rem;
               overflow: auto;
               padding: 0.5rem;
               .infor{
                    margin: 0rem 0.5rem 0.5rem 0.5rem;
                    padding: 0.5rem;
                    // margin-bottom: 1.5rem;
                    width: 95%;
                    img{
                         width: 100px;
                         height: 100px;
                         border-radius: 100%;
                    }
                    .title-info{
                         // margin-top: 0.5rem;
                         margin-left: 2rem;
                         .authen{
                              margin-left: 0.5rem;
                              background: #4682A9;
                              color: white;
                              border-radius: 0.4rem;
                         }
                         .title-follow{
                              padding: 0.15rem;
                              margin-top: 0.2rem;
                              text-align: center;
                              background: #4682A9;
                              border-radius: 0.5rem;
                              color: white;
                              border: none;
                              cursor: pointer;
                         }
                         .setting-user{
                              padding: 0.2rem;
                              width: 120px;
                              // margin: 0.2rem
                              border: 2px solid #CAD3D7;
                              margin-top: 0.3rem;
                              border-radius: 0.5rem;
                              cursor: pointer;
                              span{
                                   margin-left: 0.5rem;
                              }
                              &:hover{
                                   border: 2px solid black;
                              }
                         }
                    }
               }
               .nav-profile{
                    margin: 0.5rem;
                    color: #624761;
                    border-bottom: 2px solid #CAD3D7;
                    p{
                         width: 130px;
                         padding: 5px;
                         cursor: pointer;
                         &:hover{
                              color: black;
                              font-weight: bold;
                         }
                         span{
                              margin-right: 8px;
                              font-size: 17px;
                         }
                    }
               }
               .plan-user{
                    margin: 0.8rem;
                    .plan-1{
                         width: 210px;
                         border: 1px solid #CAD3D7;
                         // background: #CDFCF6;
                         border-radius: 10px;
                         padding: 7px;
                         margin-right: 1.2rem;
                         span{
                              cursor: pointer;
                         }
                         // height: 100%;
                         p{
                              margin: 2px;
                         }
                         .status-plan{
                              background: #4682A9;
                              border-radius: 5px;
                              color:#FFFF;
                              padding: 3px;
                              margin: 5px;
                              text-align: center;
                              
                         }
                    }
               }
               .food-user{
                    // margin: 0.8rem;
                    width: 100%;
                    flex-wrap: wrap;
                    .food-items-final{
                         background: #FFFF;
                         padding: 0.8rem;
                         border: 1px solid #CAD3D7;
                         width: 210px;
                         height: 150px;
                         border-radius: 1rem;
                         // align-items: center;
                         margin-right: 1rem;
                         margin-left: 1rem;
                         margin-bottom: 0.5rem;
                         margin-top: 0.5rem;
                         .infor-food{
                              p{
                                   font-size: 14px;
                                   margin-bottom: 3px;
                                   span{
                                        margin-right: 5px;
                                        margin-left: 3px;
                                   }
                                   .like{
                                        font-weight: bold;
                                        font-size: 16px;
                                   }
                              }
                              img{
                                   width: 80px;
                                   height: 80px;
                                   border-radius: 100%;
                                   border: 1px solid #CAD3D7;
                              }
                              .name-food{
               
                              }
                         }
                         .control-food{
                              padding: 5px;
                              .link{
                                   width: 60%;
                                   border: 1px solid #CAD3D7;
                                   text-align: center;
                                   cursor: pointer;
                                   text-decoration: none;
                                   color: #624761;
                                   border-radius: 0.5rem;
                                   &:hover{
                                        // border: 1px solid black;
                                        color: white;
                                        background: #4682A9;
                                   }
                              }
                              p{
                                   span{
                                        padding: 2px;
                                        border-radius: 5px;
                                        font-size: 18px;
                                        color: #624761;
                                        border: 1px solid #CAD3D7;
                                        cursor: pointer;
                                        &:hover{
                                             background: #4682A9;
                                             color: white;
                                        }
                                   }
                              }
                              
                         }
                    }
               }
               
          }

          .history-user{
               width: 80%;
               background: #FFFF;
               border-radius: 1rem;
               overflow: auto;
          }

          .like-user{
               width: 80%;
               background: #FFFF;
               border-radius: 1rem;
               overflow: auto;
          }

          .save-user{
               width: 80%;
               background: #FFFF;
               border-radius: 1rem;
               overflow: auto;
          }
     }
}