.DetailPlan {
  border-radius: 1rem;
  background: #EDEAE7;
  width: 100%;
  padding: 1rem;
  font-size: 15px;
}
.DetailPlan .day-note-user {
  height: 150px;
}
.DetailPlan .day-note-user .day {
  width: 55%;
  background: #FBE9BB;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.DetailPlan .day-note-user .day .day-plan {
  height: 50%;
}
.DetailPlan .day-note-user .day .day-plan .add-day-plan {
  border: 2px dashed black;
  width: 16%;
  border-radius: 0.5rem;
}
.DetailPlan .day-note-user .day .day-plan .add-day-plan img {
  width: 60px;
}
.DetailPlan .day-note-user .day .day-plan .day-calo {
  width: 17%;
  height: auto;
  border-radius: 0.5rem;
  background: white;
  margin-right: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.DetailPlan .day-note-user .day .day-plan .day-calo:hover {
  background: #8DDFCC;
}
.DetailPlan .day-note-user .day .day-plan .day-calo::before {
  background: #8DDFCC;
}
.DetailPlan .day-note-user .note {
  width: 20%;
  background: #F4F6F7;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.DetailPlan .day-note-user .user {
  width: 20%;
  background: #FCBABD;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.DetailPlan .food-day-plan {
  margin-top: 1rem;
  width: 77%;
  padding-top: 1rem;
}
.DetailPlan .food-day-plan .title {
  margin-left: 0.5rem;
}
.DetailPlan .food-day-plan .food-plan {
  width: 100%;
  padding: 0.5rem;
  height: 42%;
}
.DetailPlan .food-day-plan .food-plan .update-food {
  border: 2px dashed black;
  height: 120px;
  border-radius: 0.5rem;
  margin-top: 3.1rem;
  margin-left: 1rem;
}
.DetailPlan .food-day-plan .food-plan .update-food img {
  width: 70px;
  height: 70px;
}
.DetailPlan .food-day-plan .food-plan .btn-update-food {
  height: 120px;
  width: 40px;
  margin-left: 1rem;
  margin-top: 3.1rem;
  border-radius: 0.5rem;
  background: white;
  border: none;
  color: black;
}
.DetailPlan .food-day-plan .food-plan .food-menu {
  width: 23%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.DetailPlan .food-day-plan .food-plan .food-menu .image-food {
  margin-left: 1rem;
}
.DetailPlan .food-day-plan .food-plan .food-menu .image-food img {
  width: 95px;
  border-radius: 100%;
  position: absolute;
}
.DetailPlan .food-day-plan .food-plan .food-menu .detail-food {
  background: white;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 70%;
}
.DetailPlan .food-day-plan .food-plan .food-menu .detail-food p {
  margin-bottom: 5px;
}
.DetailPlan .food-day-plan .food-plan .food-menu .detail-food img {
  width: 10px;
}
.DetailPlan .food-day-plan .food-plan .food-menu .detail-food button {
  background: none;
  border: none;
}
.DetailPlan .food-day-plan .food-plan .food-menu .detail-food .link {
  text-decoration: none;
  color: black;
}
.DetailPlan .food-day-plan .exercise-plan {
  padding: 0.5rem;
  height: 45%;
  margin-top: 0.5rem;
}
.DetailPlan .food-day-plan .exercise-plan .update-food {
  border: 2px dashed black;
  height: 120px;
  border-radius: 0.5rem;
  margin-top: 3.1rem;
  margin-left: 1rem;
}
.DetailPlan .food-day-plan .exercise-plan .update-food img {
  width: 70px;
  height: 70px;
}
.DetailPlan .food-day-plan .exercise-plan .btn-update-food {
  height: 120px;
  width: 40px;
  margin-left: 1rem;
  margin-top: 3.1rem;
  border-radius: 0.5rem;
  background: white;
  border: none;
  color: black;
}
.DetailPlan .food-day-plan .exercise-plan .exercise {
  width: 23%;
  border-radius: 1rem;
  margin-right: 1rem;
}
.DetailPlan .food-day-plan .exercise-plan .exercise .image-exercise {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.DetailPlan .food-day-plan .exercise-plan .exercise .image-exercise img {
  width: 95px;
  border-radius: 100%;
  position: absolute;
}
.DetailPlan .food-day-plan .exercise-plan .exercise .detail-exercise {
  background: white;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  height: 130px;
}
.DetailPlan .food-day-plan .exercise-plan .exercise .detail-exercise p {
  margin-bottom: 5px;
}
.DetailPlan .food-day-plan .exercise-plan .exercise .detail-exercise img {
  width: 10px;
}
.DetailPlan .day-detail-plan {
  margin-top: 1rem;
  width: 20%;
  height: 520px;
  border-radius: 0.5rem;
}
.DetailPlan .day-detail-plan li {
  list-style-type: none;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.DetailPlan .day-detail-plan .day-plan {
  border-radius: 0.5rem;
  height: 65%;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: auto;
  align-items: center;
}
.DetailPlan .day-detail-plan .day-plan p {
  margin-left: 7px;
}
.DetailPlan .day-detail-plan .day-plan p span {
  margin-left: 4.5rem;
}
.DetailPlan .day-detail-plan .day-plan .addday img {
  width: 30px;
}
.DetailPlan .day-detail-plan .day-plan li img {
  width: 20px;
}
.DetailPlan .day-detail-plan .btn-update {
  margin-top: 1rem;
}
.DetailPlan .day-detail-plan .today-plan {
  padding: 0.5rem;
  background: #F4F6F6;
  border-radius: 0.5rem;
  height: 22%;
  margin-top: 0.5rem;
}
.DetailPlan .day-detail-plan .today-plan .index {
  margin-top: 1rem;
}
.DetailPlan .input-group-text {
  border: none;
  cursor: pointer;
}
.DetailPlan .icons:hover {
  color: blue;
}
.DetailPlan .row {
  margin-bottom: 1.5rem;
}
.DetailPlan .row p {
  margin-bottom: 0.5rem;
}
.DetailPlan .comment img {
  width: 50px;
}
.DetailPlan .comment li {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=detailPlan.css.map */