.Login{
     // border: 2px solid black;
     margin: 2rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 100%;
     background: #EDEAE7;
     .form-sub{
          align-items: center;
     }
     .information{
          width: 30%;
          // border: 2px solid black;
          padding: 0.5rem;
          align-items: center;
          .title-login{
               margin-top: 4rem;
               margin-bottom: 1rem;
          }
          .email, .pass{
               width: 90%;
               margin-top: 1.5rem;
          }
          .checkpass-login{
               margin-top: 1rem;
               // border: 2px solid black;
               width: 90%;
               margin-bottom: 2rem;
               .checkpass{
                    width: auto;
                    // border: 2px solid black;
                    align-items: center;
               }
               .btn-login{
                    padding: 0px;
                    .btn{
                         background: #FFFF;
                         color: black;
                         border: none;
                    }
                    img{
                         // border: 2px solid black;
                         width: 25px;
                    }
               }
          }
          .face-gg{
               width: 90%;
               // border: 2px solid black;
               margin-top: 1rem;
               img{
                    width: 30px;
                    margin-right: 5px;
               }
               .facebook, .google{
                    width: 35%;
                    background: #FFFF;
                    padding: 0.5rem;
                    align-items: center;
                    border-radius: 0.5rem;
               }
          }
     }
     .image-login{
          width: 70%;
          height: auto;
          // border: 2px solid black;
          padding: 1rem;
          text-align: center;
          img{
               width: 90%;
               margin-left: 1rem;
          }
     }
}

