.Login{
     // border: 2px solid black;
     margin: 2rem;
     padding: 0.5rem;
     border-radius: 1rem;
     width: 100%;
     background: #EDEAE7;
     .form-sub{
          align-items: center;
     }
     .information{
          width: 30%;
          // border: 2px solid black;
          padding: 0.5rem;
          align-items: center;
          .title-login{
               margin-top: 4rem;
               margin-bottom: 1rem;
          }
          .link{
               text-decoration: none;
          }
          .email, .pass{
               width: 90%;
               margin-top: 1.5rem;
          }
          .checkpass-login{
               margin-top: 1rem;
               // border: 2px solid black;
               width: 90%;
               margin-bottom: 2rem;
               .checkpass{
                    width: auto;
                    // border: 2px solid black;
                    align-items: center;
               }
               .btn-login{
                    padding: 0px;
                    .btn{
                         // background: #FFFF;
                         color: #FFF;
                         border: none;
                    }
                    img{
                         // border: 2px solid black;
                         width: 17px;
                    }
               }
               p{
                    margin-top: 5px;
                    margin-left: 5px;
               }
          }
          .face-gg{
               width: 90%;
               // border: 2px solid black;
               margin-top: 1rem;
               img{
                    width: 30px;
                    margin-right: 5px;
               }
               .facebook, .google{
                    // width: fit-content;
                    background: #FFFF;
                    padding: 0.5rem 2rem;
                    align-items: center;
                    border-radius: 0.5rem;
                    width: 160px;
               }
          }
     }
     .image-login{
          height: auto;
          width: 70%;
          // border: 2px solid black;
          padding: 1rem;
          text-align: center;
          margin-left: 5rem;
          background-image: url("src/assets/bg-login.jpg");
          background-size: cover;
          border-radius: 1rem;
          img{
               width: 50%;
               height: 75%;
               // margin-left: 1rem;
               margin-top: 1rem;
               transition: var(--transition);
               animation: animated 2.5s infinite ;
               transform: rotate(45deg);
               // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

          }    
          @keyframes animated {
               0%{
                   transform: translateY(0px);
               }
               50%{
                   transform: translateY(20px);
               }
               100%{
                   transform: translateY(0px);
               }
           }
          p{
               margin-top: 1rem;
               // transform: translateX(-50%);
               // transition: var(--transition);
               // animation: animated 2.5s infinite ;
               box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
               padding: 1rem;
               border-radius: 1rem;
          }
          .fs-1{
               width: 250px;
               
          }
     }
}

