.test-nav{
     background: #FFFF;
     // background: #7952b3;
     padding: 0.6rem;
     // border-bottom: 1px solid #CAD3D7;
     // position: fixed;
     padding-left: 0.5rem;
     .input-search{
          width: 380px;
          background: #FFFF;
          border: 1px solid #CAD3D7;
          border-radius: 0.5rem;
          // margin-left: 4rem;
          
          input{
               width: 85%;
               // border: 2px solid black;
               padding: 0.4rem;
               border: none;
               // border-right: 1px solid #CAD3D7;
               border-radius: 0.5rem;
               &:focus{
                    outline: none;
               }
          }
          span{
               font-size: 25px;
               // margin: 0.5rem;
               padding-left: 0.5rem;
               border-left: 1px solid #CAD3D7;
               // font-weight:normal;
               &:hover{
                    background: none;
               }
          }
          
     }

     .icons{
          .list-setting{
               .link-logout{
                    text-decoration: none;
                    color: #515252;
               }
               img{
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    margin-left: 1rem;
                    margin-right: 0.7rem;
                    cursor: pointer;
                    &:hover{
                         border: 3px solid #CAD3D7;
                    }
               }
               p{
                    cursor: pointer;
                    padding: 0.2rem;
                    margin: 0.2rem;
                    border-radius: 0.5rem;
                    &:hover{
                         background: #4682A9;
                         color: white;
                    }
                    span{
                         margin-right: 0.5rem;
                         margin-left: 0.2rem;
                    }
               }
          }
          .list-icons{
               span{
                    color: #515252;
                    // color: #FFFF;
                    font-size: 27px;
                    // margin-left: 1rem;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    border-radius: 0.3rem;
                    // background: #FFFF;
                    padding: 0.2rem;
                    cursor: pointer;
                    &:hover{
                         background: #4682A9;
                         color: white;
                    }
               }
          }
         
     }
     .modal{
          .modal-dialog{
               .modal-content{
                    height: 600px;
                    color: #515252;
                    .nav-chat{
                         padding: 0.7rem;
                         border-bottom: 1px solid #CAD3D7;
                         .title-chat{
                              font-size: 18px;
                         }
                         span{
                              cursor: pointer;
                         }
                    }
                    .body-chat{
                         // padding: 0.7rem;
                         height: 100%;
                         .user-chat{
                              width: 23%;
                              border-right: 1px solid #CAD3D7;
                              .user-chat-items{
                                   width: 100%;
                                   background: #EEF0F5;
                                   padding: 0.5rem;
                                   height: 60px;
                                   img{
                                        width: 40px;
                                        height: 40px;
                                   }
                                   .infor-user{
                                        .name-user{
                                             font-size: 15px;
                                             font-weight: bold;
                                        }
                                   }
                              }
                         }
                         .infor-chat{
                              width: 76%;
                         }
                    }
               }
          }
          
     }
}