.DetailFood{
     border-radius: 1rem;
     width: 100%;
     padding: 1rem;
     font-size: 15px;
     overflow: auto;
     .image-review{
          // margin-left: 2rem;
          width: 32%;
          // height: 100vh;
          .back{
               margin-left: 1.5rem;
               // border: 2px solid black;
               margin-top: 0.5rem;
               margin-bottom: 1rem;
               .link{
                    padding: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    border-radius: 0.5rem;
                    border: 1px solid #CAD3D7;
                    &:hover{
                         // color: #ffff;
                    }
                    img{
                         margin-top: 2px;
                         margin-right: 5px;
                         width: 20px;
                         height: 20px;
                    }
               }
          }
          .image-food{
               margin-left: 4rem;
               margin-top: 2rem;
               align-items: center;
               // border: 2px solid black;
               width: 325px;
               img{
                    width: 320px;
                    border-radius: 2rem;
               }
          }
          .text{
               margin-left: 1.5rem;
               margin-bottom: 1rem;
               margin-top: 3rem;
               // border: 2px solid black;
               width: 90%;
               padding: 5px;
               border: 1px solid #CAD3D7;
               border-radius: 0.5rem;
               p{
                    margin-right: 1rem;
               }
          }
          .support{
               width: 90%;
               margin-left: 1.5rem;
               margin-top: 0.5rem;
               p{
                    border: 1px solid #CAD3D7;
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    &:hover{
                         background: #4682A9;
                         color: white;
                    }
                    span{
                         font-size: 20px;
                         margin-right: 0.5rem;
                    }
               }
          }
          
     }
     .description{
          // border: 2px solid black;
          // padding-top: 1rem;
          margin-top: 1rem;
          padding-top: 1rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-bottom: 1.5rem;
          width: 35%;
          height: 90vh;
          margin-left: 1.2rem;
          border-radius: 1rem;
          border: 1px solid #CAD3D7;
          .nameFood{
               margin-bottom: 1rem;
          }
          .title{
               margin-bottom: 0.5rem;
               width: 100%;
               // margin-top: 0.5rem;
               .text{
                    width: 50%;
               }
          }
          .calo{
               width: 100%;
               padding: 1rem;
               border-radius: 0.5rem;
               background: #EDEFF3;
               margin-top: 1rem;
          }
          .text-description{
               // border: 2px solid black;
               border-radius: 1rem;
               // padding: 1rem;
               margin-top: 2.5rem;
               // background: #C1ECE4;
               .note{
                    height: 200px;
                    padding: 0.5rem;
                    background: #FFFF;
                    color: black;
                    margin-top: 0.5rem;
                    border: none;
                    font-size: 14px;
               }
          }
          .actions{
               margin-top: 1rem;
               button{
                    padding: 0.5rem;
                    background: #4682A9;
                    border-radius: 0.5rem;
                    border: none;
                    color: white;
               }
          }
     }
     .author{
          width: 25%;
          padding: 0.5rem;
          margin: 1rem;
          color: #624761;
          border: 1px solid #CAD3D7;
          border-radius: 1rem;
          height: 200px;
          .infor{
               padding: 1rem;
               img{
                    width: 75px;
                    height: 75px;
                    margin-right: 1.5rem;
                    border: 1px solid #CAD3D7;
                    border-radius: 100%;
               }
               .name-user{
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 0.5rem;
               }
          }
          .control-user{
               margin-top: 1rem;
               p{
                    border: 1px solid #CAD3D7;
                    width: 130px;
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    cursor: pointer;
                    &:hover{
                         background: #4682A9;
                         color: white;
                    }
                    span{
                         margin-right: 0.5rem;
                    }
               }
          }
     }
     .modal{
          .modal-dialog{
               .modal-content{
                    height: 600px;
                    color: #515252;
                    .nav-chat{
                         padding: 0.5rem;
                         border-bottom: 1px solid #CAD3D7;
                         height: 7%;
                         p{
                              font-size: 17px;
                         }
                    }
                    .body{
                         height: 92%;
                         img{
                              width: 50px;
                              height: 50px;
                              margin-right: 1rem;
                         }
                         .body-1{
                              padding: 0.3rem;
                              border-bottom: 1px solid #CAD3D7;
                              margin-bottom: 0.5rem;
                              .user{
                                   .name-user{
                                        font-size: 16px;
                                        color: black;
                                   }
                              }
                         }
                    }
                    .user-comment{
                         padding: 0.5rem;
                         border-top: 1px solid #CAD3D7;
                         height: 10%;
                         p{
                              margin-left: 1rem;
                              color: white;
                              background: #4682A9;
                              padding: 0.4rem;
                              border-radius: 0.5rem;
                         }
                         .comment{
                              padding: 0.3rem;
                              border: 1px solid #CAD3D7;
                              width: 70%;
                              &:focus{
                                   outline: none;
                                   
                              }
                         }
                    }
               }
          }
          
     }
}