.DetailFood {
  width: 100%;
  font-size: 15px;
}
.DetailFood .title-back {
  width: 100px;
  padding: 0.2rem;
  color: #656667;
  margin-left: 3rem;
  margin-top: 1rem;
}
.DetailFood .title-back span {
  margin-right: 0.5rem;
}
.DetailFood .title-back:hover {
  color: black;
  cursor: pointer;
}
.DetailFood .body-detail {
  margin: 0.5rem 2rem 2rem 4rem;
  overflow: auto;
}
.DetailFood .body-detail .body-detail-food {
  width: 900px;
}
.DetailFood .body-detail .body-detail-food .body-food {
  border: 100%;
}
.DetailFood .body-detail .body-detail-food .body-food img {
  width: 350px;
  border-radius: 0.5rem;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food {
  margin-left: 4rem;
  width: 90%;
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .reviews {
  margin-bottom: 1rem;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .reviews .name-food {
  font-size: 27px;
  font-weight: bold;
  color: #333333;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .reviews .review-food p {
  margin-right: 1rem;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .reviews .review-food span {
  cursor: pointer;
  font-size: 22px;
  padding: 0.4rem;
  margin-right: 0.3rem;
  border-radius: 100%;
  background: #D6E0E2;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .reviews .review-food span:hover {
  background: #4682A9;
  color: white;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food span {
  margin-left: 0.5rem;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .ration {
  background: #4682A9;
  border-radius: 0.5rem;
  width: 35%;
  color: white;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .ration .ration-calo, .DetailFood .body-detail .body-detail-food .body-food .detail-food .ration .total-calo {
  font-size: 15px;
  font-weight: bold;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .main-food, .DetailFood .body-detail .body-detail-food .body-food .detail-food .auxiliary-food, .DetailFood .body-detail .body-detail-food .body-food .detail-food .additives, .DetailFood .body-detail .body-detail-food .body-food .detail-food .support, .DetailFood .body-detail .body-detail-food .body-food .detail-food .type {
  color: #333333;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.DetailFood .body-detail .body-detail-food .body-food .detail-food .main-food span, .DetailFood .body-detail .body-detail-food .body-food .detail-food .auxiliary-food span, .DetailFood .body-detail .body-detail-food .body-food .detail-food .additives span, .DetailFood .body-detail .body-detail-food .body-food .detail-food .support span, .DetailFood .body-detail .body-detail-food .body-food .detail-food .type span {
  font-weight: normal;
}
.DetailFood .body-detail .body-detail-food .desc-food {
  margin-top: 3rem;
}
.DetailFood .body-detail .body-detail-food .desc-food .title-desc {
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.DetailFood .body-detail .body-detail-food .desc-food .note {
  height: 140px;
  background: white;
  font-size: 14px;
  border: none;
}
.DetailFood .body-detail .body-detail-food .desc-food button {
  width: 200px;
  padding: 0.3rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
  background: #4682A9;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
.DetailFood .body-detail .author-food {
  width: 20%;
  background: white;
  height: 90%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #CAD3D7;
}
.DetailFood .body-detail .author-food .infor-author img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.DetailFood .body-detail .author-food .infor-author .name-author {
  margin-left: 1rem;
}
.DetailFood .body-detail .author-food .infor-author .name-author .name {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}
.DetailFood .body-detail .author-food .infor-author .name-author .id {
  font-style: initial;
}
.DetailFood .body-detail .author-food .infor-author .name-author button {
  width: 80px;
  border: none;
  border-radius: 0.3rem;
  margin: 0.4rem 0.4rem 0.4rem 0rem;
  padding: 0.2rem;
  font-size: 15px;
}
.DetailFood .modal-comment .modal-dialog .modal-content {
  height: 600px;
  color: #515252;
}
.DetailFood .modal-comment .modal-dialog .modal-content .nav-chat {
  padding: 0.5rem;
  border-bottom: 1px solid #CAD3D7;
  height: 7%;
}
.DetailFood .modal-comment .modal-dialog .modal-content .nav-chat p {
  font-size: 17px;
}
.DetailFood .modal-comment .modal-dialog .modal-content .body {
  height: 92%;
}
.DetailFood .modal-comment .modal-dialog .modal-content .body img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.DetailFood .modal-comment .modal-dialog .modal-content .body .body-1 {
  padding: 0.3rem;
  border-bottom: 1px solid #CAD3D7;
  margin-bottom: 0.5rem;
}
.DetailFood .modal-comment .modal-dialog .modal-content .body .body-1 .user .name-user {
  font-size: 16px;
  color: black;
}
.DetailFood .modal-comment .modal-dialog .modal-content .user-comment {
  padding: 0.5rem;
  border-top: 1px solid #CAD3D7;
  height: 10%;
}
.DetailFood .modal-comment .modal-dialog .modal-content .user-comment p {
  margin-left: 1rem;
  color: white;
  background: #4682A9;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.DetailFood .modal-comment .modal-dialog .modal-content .user-comment .comment {
  padding: 0.3rem;
  border: 1px solid #CAD3D7;
  width: 70%;
}
.DetailFood .modal-comment .modal-dialog .modal-content .user-comment .comment:focus {
  outline: none;
}/*# sourceMappingURL=detailFood.css.map */