.page-home {
  border-radius: 1rem;
  width: 100%;
}
.page-home .nav-home {
  width: 98%;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.page-home .nav-home li {
  list-style-type: none;
  padding: 5px 15px 5px 10px;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}
.page-home .nav-home li button {
  background: none;
  border: none;
}
.page-home .nav-home li:hover {
  background: white;
}
.page-home .nav-home .nav-link a.active button {
  background: white;
}
.page-home .Home {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  font-size: 15px;
  overflow: auto;
}
.page-home .Home .header {
  padding: 1rem;
  height: 620px;
  margin-left: 0.5rem;
}
.page-home .Home .header .rank {
  width: 30%;
  padding-top: 0.5rem;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  background: #C5DFF8;
}
.page-home .Home .header .rank .table {
  margin-top: 1rem;
}
.page-home .Home .header .rank .bang-xep-hang {
  margin-top: 1rem;
}
.page-home .Home .header .rank .bang-xep-hang .reviews .stt {
  width: 15%;
}
.page-home .Home .header .header-2 {
  margin-left: 3rem;
  width: 68%;
}
.page-home .Home .header .header-2 .calendar {
  margin-bottom: 1rem;
}
.page-home .Home .header .header-2 .calendar .infor-app {
  background: white;
  margin-left: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  height: 300px;
  width: 360px;
}
.page-home .Home .header .header-2 .calendar .react-calendar {
  width: 460px;
  height: auto;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border: none;
  padding-bottom: 0.5rem;
  background: #C5DFF8;
}
.page-home .Home .header .header-2 .calendar .react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  font-weight: bold;
}
.page-home .Home .header .header-2 .calendar .react-calendar__navigation button:enabled:hover,
.page-home .Home .header .header-2 .calendar .react-calendar__navigation button:enabled:focus {
  background-color: white;
}
.page-home .Home .header .header-2 .calendar .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.page-home .Home .header .header-2 .calendar abbr[title] {
  text-decoration: none;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile:enabled:hover,
.page-home .Home .header .header-2 .calendar .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--now {
  background: rgba(111, 72, 235, 0.2);
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--now:enabled:hover,
.page-home .Home .header .header-2 .calendar .react-calendar__tile--now:enabled:focus {
  background: rgba(111, 72, 235, 0.2);
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--hasActive:enabled:hover,
.page-home .Home .header .header-2 .calendar .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--active:enabled:hover,
.page-home .Home .header .header-2 .calendar .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.page-home .Home .header .header-2 .calendar .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.page-home .Home .header .header-2 .calendar .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}
.page-home .Home .header .header-2 .calendar .infor-app {
  background: #9BCDD2;
  height: 230px;
}
.page-home .Home .header .header-2 .calendar .infor-app .infor-01 {
  align-items: center;
  background: white;
  padding: 0.5rem;
  border-radius: 1rem;
}
.page-home .Home .header .header-2 .calendar .infor-app .infor-01 .tu-img {
  width: 60px;
  border-radius: 100px;
  margin-right: 0.5rem;
}
.page-home .Home .header .header-2 .calendar .infor-app .infor-01 .arr {
  width: 20px;
  margin-left: 3.2rem;
}
.page-home .Home .header .header-2 .calendar .infor-app .plan-now {
  margin-top: 1.5rem;
  margin-left: 3.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 200px;
  background: #9FE2BF;
  cursor: pointer;
  text-decoration: none;
}
.page-home .Home .header .header-2 .calendar .infor-app .plan-now .link {
  text-decoration: none;
  color: black;
}
.page-home .Home .header .header-2 .calendar .infor-app .plan-now .status {
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background: white;
  margin-top: 0.5rem;
}
.page-home .Home .header .header-2 .news {
  margin-top: 1rem;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}
.page-home .Home .header .header-2 .news .food-menu {
  width: 240px;
  margin-right: 2rem;
}
.page-home .Home .header .header-2 .news .food-menu .image-food {
  margin-left: 1rem;
}
.page-home .Home .header .header-2 .news .food-menu .image-food img {
  width: 90px;
  border-radius: 100%;
  position: absolute;
}
.page-home .Home .header .header-2 .news .food-menu .detail-food {
  background: #9FE2BF;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 70%;
}
.page-home .Home .header .header-2 .news .food-menu .detail-food p {
  margin-bottom: 5px;
}
.page-home .Home .header .header-2 .news .food-menu .detail-food img {
  width: 10px;
}
.page-home .Home .new-food-exercise {
  padding: 0.5rem;
}
.page-home .Home .new-food-exercise .title-fx {
  margin-left: 1rem;
  margin-top: 1rem;
}
.page-home .Home .new-food-exercise .food {
  background: white;
  margin-top: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
}
.page-home .Home .new-food-exercise .food .food-menu {
  width: 270px;
  margin-right: 1rem;
  padding: 1rem;
}
.page-home .Home .new-food-exercise .food .food-menu .image-food {
  margin-left: 1rem;
}
.page-home .Home .new-food-exercise .food .food-menu .image-food img {
  width: 96px;
  height: 94px;
  border-radius: 100%;
  position: absolute;
}
.page-home .Home .new-food-exercise .food .food-menu .detail-food {
  background: #C1ECE4;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 70%;
}
.page-home .Home .new-food-exercise .food .food-menu .detail-food p {
  margin-bottom: 5px;
}
.page-home .Home .new-food-exercise .food .food-menu .detail-food img {
  width: 10px;
}/*# sourceMappingURL=home.css.map */