.page-home{
     border-radius: 1rem;
     width: 100%;
     // margin-left: 0.2rem;
     overflow: auto;
     // background: #FFFF;
     // height: 95vh;
     .introduction{
          margin-top: 1rem;
          margin-left: 1rem;
          padding: 20px 5px 5px 10px;
          // background: #FFFF;
          border-radius: 1rem;
          width: 97%;
          .title{
               .title-logo{
                    width: 47%;
                    padding: 1rem;
                    margin-top: 3rem;
                    margin-left: 3rem;
                    .tieude{
                         img{
                              width: 130px;
                              margin-right: 1rem;
                              // margin-left: 1rem;
                         }
                    }
                    .title-thf{
                         // margin-left: 1rem;
                         margin-top: 1rem;
                    }
                    
               }
               .title-video{
                    width: 45%;
                    margin-top: 1rem;
                    // .video{
                    //      border-radius: 200px;
                    //      width: 400px;
                    //      height: auto;
                    // }
                    .title-1{
                         width: 30%;
                         margin-right: 2rem;
                         margin-bottom: 3rem;
                         img{
                              width: 190px;
                              height: 370px;
                              border-radius: 1.5rem;
                         }
                         video{
                              width: 100%;
                              height: 370px;
                              border-radius: 1.5rem;
                         }
                    }
                    .title-2{
                         margin-top: 1.5rem;
                         margin-bottom: 1.5rem;
                         width: 30%;
                         margin-right: 2rem;
                         img{
                              width: 190px;
                              height: 370px;
                              border-radius: 1.5rem;
                         }
                    }
                    .title-3{
                         width: 30%;
                         margin-right: 2rem;
                         margin-top: 3rem;
                         img{
                              width: 190px;
                              height: 370px;
                              border-radius: 1.5rem;
                         }
                    }
                    
               }
          }
          .logo-four{
               margin-top: 6rem;
               width: 950px;
               margin-left: 16%;
               padding: 1.5rem 3rem 2rem 3rem;
               border-radius: 2rem;
               border: 2px solid var(--greyBg);
               // background: var(--SecondaryColor);
               .logo-1{
                    margin-right: 3rem;
                    margin-left: 3rem;
                    margin-top: 1.5rem;
                    // border: 2px solid black;
                    width: 130px;
                    padding: 5px;
                    border-radius: 10px;
                    background: var(--SecondaryColor);
                    img{
                         width: 110px;
                    }
                    p{
                         font-weight: bold;
                         margin-top: 5px;
                         padding: 5px 10px 5px 10px;
                         background: #FFFF;
                    }
               }
               p{
                    background: var(--SecondaryColor);
                    padding: 5px 10px 5px 10px;
                    border-radius: 1rem;
               }
          }
          .intro-web-1{
               margin-top: 7rem;
               .intro-web{
                    width: 48%;
                    padding-left: 10rem;
                    // padding-top: 1rem;
                    .number-1{
                         width: 40px;
                         text-align: center;
                         border-radius: 0.5rem;
                         background: #F0B27A;
                         color: #FFFF;
                         margin-bottom: 0.3rem;
                         margin-top: 2.5rem;
                    }
                    .number-2{
                         width: 40px;
                         text-align: center;
                         border-radius: 0.5rem;
                         background: #5499C7;
                         color: #FFFF;
                         margin-bottom: 0.3rem;
                         margin-top: 1.5rem;
                    }
                    .number-3{
                         width: 40px;
                         text-align: center;
                         border-radius: 0.5rem;
                         background: #F9E79F;
                         color: #FFFF;
                         margin-bottom: 0.3rem;
                         margin-top: 1.5rem;
                    }
                    .tit-1{
                         margin-top: 0.3rem;
                         margin-bottom: 0.7rem;
                    }
                    .note{
                         color: #707B7C;
                    }
               }
               .intro-image{
                    width: 44%;
                    img{
                         border-radius: 15px;
                    }
               }
          }

          .intro-web-2{
               background: var(--SecondaryColor);
               margin-top: 7.5rem;
               padding: 1rem;
               border-radius: 1rem;
               .intro-title, .intro-plan{
                    margin-left: 9rem;
               }
               .intro-plan{
                    width: 78%;
                    margin-top: 1.5rem;
                    .intro-plan-1{
                         align-items: center;
                         width: 18%;
                         height: 250px;
                         background: #FFFF;
                         padding: 1rem;
                         border-radius: 100px;
                         .icons{
                              background: #21618C;
                              color: #FFFF;
                              text-align: center;
                              padding: 0.3rem;
                              border-radius: 10px;
                              margin-top: 0.5rem;
                              margin-bottom: 1rem;
                         }
                         .text-icons{
                              margin-bottom: 1rem;
                         }
                         .note-icons{
                              color: #707B7C;
                              text-align: center;
                         }
                    }
                    .intro-plan-2{
                         align-items: center;
                         width: 18%;
                         background: #FFFF;
                         padding: 1rem;
                         border-radius: 100px;
                         .icons{
                              background: #21618C;
                              color: #FFFF;
                              text-align: center;
                              padding: 0.3rem;
                              border-radius: 10px;
                              margin-top: 0.5rem;
                              margin-bottom: 1rem;
                         }
                         .text-icons{
                              margin-bottom: 1rem;
                         }
                         .note-icons{
                              color: #707B7C;
                              text-align: center;
                         }
                    }
                    .intro-plan-3{
                         align-items: center;
                         width: 18%;
                         background: #FFFF;
                         padding: 1rem;
                         border-radius: 100px;
                         .icons{
                              background: #21618C;
                              color: #FFFF;
                              text-align: center;
                              padding: 0.3rem;
                              border-radius: 10px;
                              margin-top: 0.5rem;
                              margin-bottom: 1rem;
                         }
                         .text-icons{
                              margin-bottom: 1rem;
                         }
                         .note-icons{
                              color: #707B7C;
                              text-align: center;
                         }
                    }
                    .intro-plan-4{
                         align-items: center;
                         width: 18%;
                         background: #FFFF;
                         padding: 1rem;
                         border-radius: 100px;
                         .icons{
                              background: #21618C;
                              color: #FFFF;
                              text-align: center;
                              padding: 0.3rem;
                              border-radius: 10px;
                              margin-top: 0.5rem;
                              margin-bottom: 1rem;
                         }
                         .text-icons{
                              margin-bottom: 1rem;
                         }
                         .note-icons{
                              color: #707B7C;
                              text-align: center;
                         }
                    }
               }
          }
     }
     .nav-home{
          width: 20%;
          margin-left: 1rem;
          margin-top: 0.3rem;
          // border-bottom: 0.2px solid black;
          li{
               list-style-type: none;
               cursor: pointer;
               border-radius: 30px;
               // background: #FFFF;
               button{
                    background: none;
                    border: none;
                    padding: 0.2rem;
               }
               // &:hover{
               //      background: #FFFF;
               // }
               // .active_link {
               //      background-color: white;
               // }
          }
          // .nav-link a.active_link{
          //      a{
          //           color: #FFFF;
          //           text-decoration: none;
          //      }
          // }
          
     }
     .Home{
          border-radius: 1rem;
          // background: var(--whiteColor);
          width: 100%;
          height: auto;
          // padding: 0.5rem;
          font-size: 15px;
          
          .header{
               padding: 1rem;
               height: 620px;
               margin-left: 0.5rem;
               .rank{
                    width: 30%;
                    padding-top: 0.5rem;
                    height: auto;
                    padding: 1rem;
                    // background: #ffff;
                    border-radius: 1rem;
                    background: #C5DFF8;
                    .table{
                      margin-top: 1rem;
                    }
                    
                    .bang-xep-hang{
                         margin-top: 1rem;
                         .reviews{
                              .stt{
                                   width: 15%;
                              }
                         }
                    }
                    
               }
               .header-2{
                    // padding: 1rem;
                    // margin: 1rem;
                    margin-left: 3rem;
                    width: 68%;
                    .calendar{
                         margin-bottom: 1rem;
                         .infor-app{
                              background: #FFFF;
                              margin-left: 4rem;
                              padding: 1rem;
                              border-radius: 1rem;
                              height: 300px;
                              width: 360px;
                         }
                         .react-calendar { 
                              width: 460px;
                              // height: 345px;
                              height: auto;
                              max-width: 100%;
                              background-color: #fff;
                              color: #222;
                              border-radius: 1rem;
                              font-family: Arial, Helvetica, sans-serif;
                              line-height: 1.125em;
                              border: none;
                              padding-bottom: 0.5rem;
                              background: #C5DFF8;
                             }
                             .react-calendar__navigation button {
                              color: black;
                              min-width: 44px;
                              background: none;
                              font-size: 16px;
                              margin-top: 8px;
                              font-weight: bold;
                             }
                             .react-calendar__navigation button:enabled:hover,
                             .react-calendar__navigation button:enabled:focus {
                              background-color: #ffff;
                             }
                             .react-calendar__navigation button[disabled] {
                              background-color: #f0f0f0;
                             }
                             abbr[title] {
                              text-decoration: none;
                             }
                            //  .react-calendar__month-view__days__day--weekend {
                            //   color: #d10000;
                            //  } 
                             .react-calendar__tile:enabled:hover,
                             .react-calendar__tile:enabled:focus {
                              background: #f8f8fa;
                              color: #6f48eb;
                              border-radius: 6px;
                             }
                             .react-calendar__tile--now {
                              background: #6f48eb33;
                              border-radius: 6px;
                              font-weight: bold;
                              color: #6f48eb;
                             }
                             .react-calendar__tile--now:enabled:hover,
                             .react-calendar__tile--now:enabled:focus {
                              background: #6f48eb33;
                              border-radius: 6px;
                              font-weight: bold;
                              color: #6f48eb;
                             }
                             .react-calendar__tile--hasActive:enabled:hover,
                             .react-calendar__tile--hasActive:enabled:focus {
                              background: #f8f8fa;
                             }
                             .react-calendar__tile--active {
                              background: #6f48eb;
                              border-radius: 6px;
                              font-weight: bold;
                              color: white;
                             }
                             .react-calendar__tile--active:enabled:hover,
                             .react-calendar__tile--active:enabled:focus {
                              background: #6f48eb;
                              color: white;
                             }
                             .react-calendar--selectRange .react-calendar__tile--hover {
                              background-color: #f8f8fa;
                             }
                             .react-calendar__tile--range {
                              background: #f8f8fa;
                              color: #6f48eb;
                              border-radius: 0;
                             }
                             .react-calendar__tile--rangeStart {
                              border-top-right-radius: 0;
                              border-bottom-right-radius: 0;
                              border-top-left-radius: 6px;
                              border-bottom-left-radius: 6px;
                              background: #6f48eb;
                              color: white;
                             }
                             .react-calendar__tile--rangeEnd {
                              border-top-left-radius: 0;
                              border-bottom-left-radius: 0;
                              border-top-right-radius: 6px;
                              border-bottom-right-radius: 6px;
                              background: #6f48eb;
                              color: white;
                         }
                         .infor-app{
                              background: #9BCDD2;
                              height: 230px;
                              .infor-01{
                                   align-items: center;
                                   background: #FFFF;
                                   padding: 0.5rem;
                                   border-radius: 1rem;
                                   .tu-img{
                                        width: 60px;
                                        border-radius: 100px;
                                        margin-right: 0.5rem;
                                   }
                                   .arr{
                                        width: 20px;
                                        margin-left: 3.2rem;
                                   }
                              }
                              .plan-now{
                                   // margin: 0.7rem;
                                   margin-top: 1.5rem;
                                   margin-left: 3.5rem;
                                   padding: 0.5rem;
                                   border-radius: 0.5rem;
                                   width: 200px;
                                   background: #9FE2BF;
                                   cursor: pointer;
                                   text-decoration: none;
                                   .link{
                                   text-decoration: none;
                                   color: black;
                                   }
                                   .status{
                                   align-items: center;
                                   text-align: center;
                                   border-radius: 0.5rem;
                                   background: #ffff;
                                   margin-top: 0.5rem;
                                   }
                              }
                         }
                    }
                    
                    .news{
                         margin-top: 1rem;
                         background: #FFFF;
                         border-radius: 1rem;
                         padding: 1rem;
                         .food-menu{
                              width: 240px;
                              margin-right: 2rem;
                              .image-food{
                                   margin-left: 1rem;
                                   img{
                                        width: 90px;
                                        border-radius: 100%;
                                        position: absolute;
                                   }
                              }
                              .detail-food{
                                   // background: #FFFF;
                                   background: #9FE2BF;
                                   border-radius: 1rem;
                                   margin-top: 3rem;
                                   padding-top: 0.5rem;
                                   padding-left: 0.8rem;
                                   padding-right: 0.8rem;
                                   padding-bottom: 0.8rem;
                                   cursor: pointer;
                                   height: 70%;
                                   p{
                                        margin-bottom: 5px;
                                   }
                                   img{
                                        width: 10px;
                                   }
                                   
                              }
                         }
                    }
               }
     
               
          }
          .new-food-exercise{
               padding: 0.5rem;
               // background: #ffff;
               .title-fx{
                    margin-left: 1rem;
                    margin-top: 1rem;
               }
               .food{
                    background: #FFFF;
                    margin-top: 1rem;
                    border-radius: 1rem;
                    margin-left: 1rem;
                    .food-menu{
                         width: 270px;
                         // margin-bottom: 1rem;
                         margin-right: 1rem;
                         padding: 1rem;
                         // margin-top: 1rem;
                         .image-food{
                              margin-left: 1rem;
                              img{
                                   width: 96px;
                                   height: 94px;
                                   border-radius: 100%;
                                   position: absolute;
                                   // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
                              }
                         }
                         .detail-food{
                              // background: #FFFF;
                              // background: #F2D7D5;
                              // background: #AED6F1;
                              background: #C1ECE4;
                              border-radius: 1rem;
                              margin-top: 3rem;
                              padding-top: 0.5rem;
                              padding-left: 0.8rem;
                              padding-right: 0.8rem;
                              padding-bottom: 0.8rem;
                              cursor: pointer;
                              height: 70%;
                              p{
                                   margin-bottom: 5px;
                              }
                              img{
                                   width: 10px;
                              }
                              
                         }
                    }
               }
     
               
          }
          
     }
}
