.Home {
  border-radius: 1rem;
  background: #EDEAE7;
  width: 100%;
  padding: 0.5rem;
  font-size: 15px;
  overflow: auto;
}
.Home .plan {
  padding: 1rem;
  border-radius: 0.5rem;
  padding-right: 0px;
  height: auto;
}
.Home .plan .my-plan {
  width: 45%;
  height: 290px;
  padding: 1rem;
  border-radius: 0.5rem;
}
.Home .plan .my-plan .my-plan-01 {
  height: 50%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background: white;
  display: flex;
  flex-direction: row;
}
.Home .plan .my-plan .my-plan-01 .plan-now {
  margin: 0.7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30%;
  background: #9FE2BF;
  cursor: pointer;
  text-decoration: none;
}
.Home .plan .my-plan .my-plan-01 .plan-now .link {
  text-decoration: none;
  color: black;
}
.Home .plan .my-plan .my-plan-01 .plan-now .status {
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background: white;
  margin-top: 0.5rem;
}
.Home .plan .my-plan .my-plan-01 .add-plan {
  border: 2px dashed black;
  margin: 0.7rem;
  width: 30%;
  border-radius: 0.5rem;
  text-align: center;
}
.Home .plan .my-plan .my-plan-01 .add-plan img {
  width: 60px;
  margin-top: 1rem;
}
.Home .plan .my-plan .my-plan-02 {
  margin-top: 0.5rem;
  height: 32%;
  background: white;
  border-radius: 0.5rem;
}
.Home .plan .my-plan .my-plan-02 .day {
  margin: 0.5rem;
  width: 100px;
  padding: 5px;
  border-radius: 0.5rem;
  background: #9FE2BF;
}
.Home .plan .detail-day-plan {
  border-radius: 0.5rem;
  height: 275px;
  width: 29%;
  margin-right: 20px;
  background: #D1F2EB;
  margin-left: 0px;
  padding: 1rem;
  background: white;
}
.Home .plan .detail-day-plan .parameter-day-plan {
  margin-top: 2rem;
}
.Home .plan .detail-day-plan .parameter-day-plan img {
  width: 35px;
  margin-bottom: 7px;
}
.Home .plan .detail-day-plan .title-day {
  margin: 0.2rem;
}
.Home .note-day-plan {
  width: 24%;
  padding: 1rem;
}
.Home .note-day-plan .note {
  margin-top: 0.5rem;
  height: 230px;
  border-radius: 0.5rem;
}
.Home .food-exercise-plan {
  padding: 1rem;
  width: 100%;
  height: auto;
}
.Home .food-exercise-plan .food {
  height: 100%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.Home .food-exercise-plan .food .info-meat {
  width: 180px;
  height: auto;
  padding: 0.5rem;
  margin-right: 3rem;
}
.Home .food-exercise-plan .food .info-meat .title-meat {
  margin-bottom: 1rem;
}
.Home .food-exercise-plan .food .info-meat .update-meat {
  margin-top: 0.5rem;
  padding: 0.3rem;
  background: white;
  border-radius: 0.5rem;
}
.Home .food-exercise-plan .food .info-meat .update-meat img {
  width: 30px;
  margin-right: 5px;
}
.Home .food-exercise-plan .food .food-menu {
  width: 250px;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
.Home .food-exercise-plan .food .food-menu .image-food {
  margin-left: 1rem;
}
.Home .food-exercise-plan .food .food-menu .image-food img {
  width: 95px;
  border-radius: 100%;
  position: absolute;
}
.Home .food-exercise-plan .food .food-menu .detail-food {
  background: white;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 74%;
}
.Home .food-exercise-plan .food .food-menu .detail-food p {
  margin-bottom: 5px;
}
.Home .food-exercise-plan .food .food-menu .detail-food img {
  width: 10px;
}
.Home .form-login {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.Home .form-login .register {
  margin-bottom: 0.7rem;
}
.Home .form-check-input {
  margin-right: 0.5rem;
}
.Home .title {
  margin-top: 0.5rem;
}
.Home .title p {
  margin-top: 0.5rem;
}
.Home .title span {
  cursor: pointer;
}
.Home .title span:hover {
  color: blue;
}
.Home .fb-gg {
  margin-top: 0.5rem;
}
.Home .fb-gg .Facebook {
  width: 40%;
  padding: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.Home .fb-gg .Facebook img {
  width: 40px;
  border-radius: 5px;
}
.Home .fb-gg .Facebook .text {
  width: 65%;
  padding-top: 5px;
}
.Home .fb-gg .Facebook:hover {
  background: var(--SecondaryColor);
}
.Home .modal-footer {
  margin-top: 2rem;
}
.Home .w-dis-age {
  width: 100px;
  text-align: center;
}
.Home .w-dis-date {
  width: 170px;
  text-align: center;
}
.Home input {
  margin-top: 0.5rem;
}/*# sourceMappingURL=home.css.map */