.User{
     border-radius: 1rem;
     background: #EDEAE7;
     width: 100%;
     padding: 0.5rem;
     font-size: 15px;
     // font-family: sans-serif, Verdana;
     // font-family: Arial, Helvetica, sans-serif;
     overflow: auto;
     // font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
     .info{
          // margin: 1rem;
          // border-bottom: 1px solid black;
          padding: 0.5rem;
          img{
               width: 100px;
          }
          .title-info{
               margin-top: 0.5rem;
               margin-left: 1rem;
               .setting-info{
                    margin-top: 0.5rem;
                    border: 2px solid black;
                    width: 70%;
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    &:hover{
                         background: #f8f8fa;
                       }
                    .text{
                         margin-right: 5px;
                    }
                    img{
                         width: 30px;
                    }
               }
          }
     }
     .title{
          margin-bottom: 0.5rem;
          margin-left: 0.5rem;
     }
     .food{
          border: 1px solid black;
          margin-top: 0.5rem;
          padding: 1rem;
          border-radius: 0.5rem;
          .food-menu{
               width: 17%;
               // border: 2px solid black;
               margin-bottom: 1rem;
               margin-right: 1rem;
               .image-food{
                    margin-left: 1rem;
                    img{
                         width: 95px;
                         border-radius: 100%;
                         position: absolute;
                         // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
                    }
               }
               .detail-food{
                    background: #FFFF;
                    border-radius: 1rem;
                    margin-top: 3rem;
                    padding-top: 0.5rem;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                    padding-bottom: 0.8rem;
                    cursor: pointer;
                    height: 70%;
                    p{
                         margin-bottom: 5px;
                    }
                    img{
                         width: 10px;
                    }
                    
               }
          }
     }
    .Create{
          width: 100px;
          .Add{
               align-items: center;
               border: 2px dashed black;
               border-radius: 0.5rem;
               margin-top: 5rem;
               img{
                    width: 40px;
               }
          }
          .link{
               text-decoration: none;
               color: black;
          }
    }

    .plan{
     // border-bottom: 1px solid black;
     border: 1px solid black;
          margin-top: 0.5rem;
          padding: 1rem;
          border-radius: 0.5rem;
          .plan-now{
               margin: 0.7rem;
               padding: 0.5rem;
               border-radius: 0.5rem;
               width: 200px;
               background: #9FE2BF;
               cursor: pointer;
               text-decoration: none;
               .link{
               text-decoration: none;
               color: black;
               }
               .status{
               align-items: center;
               text-align: center;
               border-radius: 0.5rem;
               background: #ffff;
               margin-top: 0.5rem;
               }
          }
          .Create-plan{
               width: 100px;
               .Add{
                    align-items: center;
                    border: 2px dashed black;
                    border-radius: 0.5rem;
                    margin-top: 1.5rem;
                    img{
                         width: 40px;
                    }
               }
               .link{
                    text-decoration: none;
                    color: black;
               }
         }
    }
}