.User {
  border-radius: 1rem;
  width: 100%;
  font-size: 15px;
  background: #F4F5F9;
}
.User .ssss .search-user {
  background: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin-right: 3rem;
}
.User .ssss .search-user span {
  cursor: pointer;
  padding: 0.2rem;
}
.User .ssss .search-user span:hover {
  background: #4682A9;
  color: white;
  border-radius: 0.2rem;
}
.User .ssss .search-user input {
  border: none;
  padding: 0.2rem;
  margin-right: 1rem;
}
.User .ssss .search-user input:focus {
  outline: none;
}
.User .title-setting {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  width: 150px;
  margin: 0.5rem 0.5rem 0rem 1.5rem;
  font-size: 20px;
  font-weight: bold;
  color: #624761;
}
.User .information-user {
  margin: 0rem 0rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0.5rem 0.5rem;
  width: 98%;
  height: 82vh;
}
.User .information-user .nav-user {
  padding: 0.5rem;
  margin: 0.5rem 3rem 0.5rem 1.5rem;
  background: white;
  border-radius: 1rem;
  width: 180px;
  height: 250px;
}
.User .information-user .nav-user p {
  border: 2px solid #CAD3D7;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  color: #624761;
  border-radius: 0.5rem;
  background: white;
}
.User .information-user .nav-user p span {
  margin-right: 10px;
}
.User .information-user .nav-user p:hover {
  background: #4682A9;
  color: white;
}
.User .information-user .infor-user {
  width: 80%;
  background: white;
  border-radius: 1rem;
  overflow: auto;
  padding: 0.5rem;
}
.User .information-user .infor-user .infor {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  width: 95%;
}
.User .information-user .infor-user .infor img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.User .information-user .infor-user .infor .title-info {
  margin-left: 2rem;
}
.User .information-user .infor-user .infor .title-info .authen {
  margin-left: 0.5rem;
  background: #4682A9;
  color: white;
  border-radius: 100%;
}
.User .information-user .infor-user .infor .title-info .title-follow {
  padding: 0.15rem;
  margin-top: 0.2rem;
  text-align: center;
  background: #4682A9;
  border-radius: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}
.User .information-user .infor-user .infor .title-info .setting-user {
  padding: 0.2rem;
  width: 120px;
  border: 2px solid #CAD3D7;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.User .information-user .infor-user .infor .title-info .setting-user span {
  margin-left: 0.5rem;
}
.User .information-user .infor-user .infor .title-info .setting-user:hover {
  border: 2px solid black;
}
.User .information-user .infor-user .nav-profile {
  margin: 0.5rem;
  color: #624761;
  border-bottom: 2px solid #CAD3D7;
}
.User .information-user .infor-user .nav-profile p {
  width: 130px;
  padding: 5px;
  cursor: pointer;
}
.User .information-user .infor-user .nav-profile p:hover {
  color: black;
  font-weight: bold;
}
.User .information-user .infor-user .nav-profile p span {
  margin-right: 8px;
  font-size: 17px;
}
.User .information-user .infor-user .plan-user {
  margin: 0.8rem;
}
.User .information-user .infor-user .plan-user .loading {
  color: #232525;
  width: 100%;
  margin-top: 5rem;
}
.User .information-user .infor-user .plan-user .loading span {
  font-size: 60px;
}
.User .information-user .infor-user .plan-user .loading p {
  margin-top: 1rem;
  font-size: 17px;
}
.User .information-user .infor-user .plan-user .plan-1 {
  width: 210px;
  border: 1px solid #CAD3D7;
  border-radius: 10px;
  padding: 7px;
  margin-right: 1.2rem;
}
.User .information-user .infor-user .plan-user .plan-1 span {
  cursor: pointer;
}
.User .information-user .infor-user .plan-user .plan-1 p {
  margin: 2px;
}
.User .information-user .infor-user .plan-user .plan-1 .status-plan {
  background: #4682A9;
  border-radius: 5px;
  color: white;
  padding: 3px;
  margin: 5px;
  text-align: center;
}
.User .information-user .infor-user .food-user {
  width: 100%;
  flex-wrap: wrap;
}
.User .information-user .infor-user .food-user .loading {
  color: #232525;
  width: 100%;
  margin-top: 5rem;
}
.User .information-user .infor-user .food-user .loading span {
  font-size: 60px;
}
.User .information-user .infor-user .food-user .loading p {
  margin-top: 1rem;
  font-size: 17px;
}
.User .information-user .infor-user .food-user .food-items-final {
  background: white;
  padding: 0.8rem;
  border: 1px solid #CAD3D7;
  width: 215px;
  height: 150px;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.User .information-user .infor-user .food-user .food-items-final .infor-food p {
  font-size: 13px;
  margin-bottom: 3px;
}
.User .information-user .infor-user .food-user .food-items-final .infor-food p span {
  margin-right: 5px;
  margin-left: 3px;
}
.User .information-user .infor-user .food-user .food-items-final .infor-food p .like {
  font-weight: bold;
  font-size: 16px;
}
.User .information-user .infor-user .food-user .food-items-final .infor-food img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid #CAD3D7;
}
.User .information-user .infor-user .food-user .food-items-final .control-food {
  padding: 5px;
}
.User .information-user .infor-user .food-user .food-items-final .control-food .link {
  width: 60%;
  border: 1px solid #CAD3D7;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #624761;
  border-radius: 0.5rem;
}
.User .information-user .infor-user .food-user .food-items-final .control-food .link:hover {
  color: white;
  background: #4682A9;
}
.User .information-user .infor-user .food-user .food-items-final .control-food p span {
  padding: 2px;
  border-radius: 5px;
  font-size: 18px;
  color: #624761;
  border: 1px solid #CAD3D7;
  cursor: pointer;
}
.User .information-user .infor-user .food-user .food-items-final .control-food p span:hover {
  background: #4682A9;
  color: white;
}
.User .information-user .history-user {
  width: 80%;
  background: white;
  border-radius: 1rem;
  overflow: auto;
  padding: 1rem;
}
.User .information-user .like-user {
  width: 80%;
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: auto;
}
.User .information-user .like-user .food-like {
  flex-wrap: wrap;
  width: 100%;
}
.User .information-user .like-user .food-like .food-items-final {
  background: white;
  width: 215px;
  height: 160px;
  border-radius: 1rem;
  margin-right: 0.7rem;
  margin-left: 1rem;
  border: 1px solid #CAD3D7;
  margin-top: 1.2rem;
}
.User .information-user .like-user .food-like .food-items-final .infor-food {
  padding: 0.8rem;
}
.User .information-user .like-user .food-like .food-items-final .infor-food p {
  font-size: 13px;
  margin-bottom: 3px;
}
.User .information-user .like-user .food-like .food-items-final .infor-food p span {
  margin-right: 5px;
  margin-left: 3px;
  color: #624761;
}
.User .information-user .like-user .food-like .food-items-final .infor-food p .like {
  font-weight: bold;
  font-size: 16px;
}
.User .information-user .like-user .food-like .food-items-final .infor-food img {
  width: 80px;
  border-radius: 100%;
}
.User .information-user .like-user .food-like .food-items-final .control-food {
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  border-top: 1px solid #CAD3D7;
  height: 55px;
}
.User .information-user .like-user .food-like .food-items-final .control-food .link {
  width: 60%;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #4e424d;
  border-radius: 0.5rem;
}
.User .information-user .like-user .food-like .food-items-final .control-food p span {
  padding: 3px;
  font-size: 22px;
  color: #624761;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}
.User .information-user .like-user .food-like .food-items-final .control-food p span:hover {
  background: #4682A9;
  color: white;
}
.User .information-user .save-user {
  width: 80%;
  background: white;
  border-radius: 1rem;
  overflow: auto;
}/*# sourceMappingURL=user.css.map */