.Navbar{
     border-radius: 0px 15px 15px 0px;
     width: 6%;
     backdrop-filter: blur(10px);
     // background: #B6DFDE;
     // background: #99DBF5;
     background: #8AC6D1;
     // border: 2px solid black;
     .nav-menu{
          margin-top: 1rem;
          li {
               list-style-type: none;
               align-items: center;
               
               img{
                    width: 32px;
                    background-size: cover;
                    border-radius: 0.5rem;
                    padding: 3px;
                    // background: #FFFF;
                    // border: 1px solid black;
               }
          }
          .nav_item a.active_link{
               text-decoration: none;
               color: black;
               img{
                    // border: 2px solid black;
                    // background: black;
                    background: #FFFF;
               }
          }
          p{

          }
     }
     img{
          width: 45px;
          margin-bottom: 1rem;
          cursor: pointer;
          // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
          background-size: cover;
          border-radius: 0.5rem;
          padding: 3px;
          // background: #FFFF;
          // border: 2px solid black;
     }
     .logo{
          width: 60px;
          margin-bottom: 0rem;
          padding-top: 0px;
          background: none;
     }
     .name-web{
          margin-bottom: 1.5rem;
     }
     .create{
          margin-top: 1rem;
     }
}