.Navbar{
     // border-radius: 0px -15px -15px 0px;
     width: 220px;
     // // backdrop-filter: blur(10px);
     background: #FFFF;
     // background: #967AA1;

     border-right: 1px solid #CAD3D7;
     // border-radius: 1rem;
     // border: 2px solid black;
     // border-radius: ;

     // margin-right: 1rem;
     padding-right: 0.3em;
     padding-left: 0.3rem;
     .happy{
          width: 90%;
          align-self: center;
          margin-bottom: 0.2rem;
          border-bottom: 1px solid #CAD3D7;
          .gif-run{
               width: 60px;
          }
          .gif-happy{
               width: 60px;
          }
     }
     
     
     .nav-menu{
          margin-top: 0.5rem;
          width: 90%;
          border-bottom: 1px solid #CAD3D7;
          .link{
               text-decoration: none;
          }
          .logo{
               margin-bottom: 0.5rem;
               padding-bottom: 0.5rem;
               font-size: 15px;
               width: 150px;
               img{
                    width: 30px;
               }
               .logo_name{
                    // margin-bottom: 2rem;
                    
                    // border: 2px solid black;
                    margin-left: 5px;
               }
          }
          .create{
               border: 2px solid #CAD3D7;
               padding: 0.3rem 0.7rem 0.3rem 0.7rem;
               margin: 1rem 0rem 1.2rem 0rem;
               border-radius: 1rem;
               cursor: pointer;
               color: #624761;
               &:hover{
                    // border: none;
                    background: #4682A9;
                    color: white;
               }
               span{
                    margin-right: 0.3rem;
               }
          }
          .nav_item{
               list-style-type: none;
               align-items: center;
               margin-bottom: 0.2rem;
               border-radius: 0.5rem;
               width: 94%;
               padding: 3px;
               // margin-left: 0.4rem;
               height: 43px;
               p{
                    margin-top: 8px;
                    width: 100%;
                    color: #624761;
                    height: 100%;
                    // text-align: center;
               }
               span{
                    // padding: 3px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    padding-right: 3px;
                    padding-left: 10px;

                    // color: #7F7B7B;
                    color:  #624761;
                    height: 100%;
                    margin-top: 5px;
                    font-size: 21px;
                    margin-right: 0.7rem;
               }
               a{
                    text-decoration: none;
                    // color: #7F7B7B;
                    color:  #624761;
                    height: 100%;
               }
               
          }
          .nav_item a.active_link{
               text-decoration: none;
               color: black;
               // background: #FFFF;
               background: #4682A9;
               border-radius: 0.5rem;
               // border: 2px solid black;
               span{
                    color: #FFFF;
               }
               p{
                    color: #FFFF;
               }
               a{
                    color: #FFFF;
               }
          }
     }
    .item-other{
          width: 100%;
          margin-bottom: 1rem;
          .help{
               width: 80%;
               padding: 0.3rem;
               cursor: pointer;
               border-radius: 0.5rem;
               border: 1px solid #CAD3D7;
               span{
                    color: #624761;
                    margin-right: 0.5rem;
                    margin-left: 0.2rem;
               }
          }
    }
}