.Navbar{
     border-radius: 1rem;
     width: 6%;
     backdrop-filter: blur(10px);
     background: #FFFF;
     // border: 2px solid black;
     .nav-menu{
          margin-top: 1rem;
          // border: 2px solid black;
          li {
               list-style-type: none;
               align-items: center;
               // border: 2px solid black;
               img{
                    // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
                    width: 35px;
                    background-size: cover;
                    border-radius: 0.5rem;
                    padding: 3px;
                    // border: 1px solid black;
               }
          }
          .nav_item a.active_link{
               img{
                    border: 2px solid black;
                    // background: black;
               }
          }
     }
     img{
          width: 45px;
          margin-bottom: 1rem;
          cursor: pointer;
          // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
          background-size: cover;
          border-radius: 0.5rem;
          padding: 3px;
          // border: 2px solid black;
     }
     .logo{
          width: 70px;
          margin-bottom: 1.5rem;
     }
     .create{
          margin-top: 1rem;
     }
}