.Exercise{
     border-radius: 1rem;
     background: #EDEAE7;
     width: 100%;
     padding: 0.5rem;
     font-size: 15px;
     overflow: auto;
     .create-food-final{
          border-radius: 0.5rem;
          border: 2px dashed black;
          margin-left: 1.5rem;
          img{
               width: 30px;
          }
     }
     .master{
          margin-right: 1rem;
          border: 2px solid black;
          border-radius: 0.5rem;
          cursor: pointer;
          width: 120px;
          &:hover{
               background:#8DDFCC;
          }
          img{
               width: 30px;
          }
     }
     .menu-list{
          // padding-left: 2.6rem;
          // border: 2px solid black;
          .food{
               margin-left: 1rem;
               // border: 2px solid black;
               width: 90%;
               .food-menu{
                    width: 25%;
                    // border: 2px solid black;
                    margin-bottom: 1rem;
                    .image-food{
                         margin-left: 1rem;
                         img{
                              width: 95px;
                              border-radius: 100%;
                              position: absolute;
                              // box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
                         }
                    }
                    .detail-food{
                         background: #FFFF;
                         border-radius: 1rem;
                         margin-top: 3rem;
                         padding-top: 0.5rem;
                         padding-left: 0.8rem;
                         padding-right: 0.8rem;
                         padding-bottom: 0.8rem;
                         cursor: pointer;
                         height: 130px;
                         p{
                              margin-bottom: 5px;
                         }
                         img{
                              width: 10px;
                         }
                         .link{
                              text-decoration: none;
                              color: black;
                         }
                         
                    }
               }
          }
          .nav{
               width: 18%;
               padding: 0.5rem;
               .form-check-input{
                    margin-right: 0.5rem;
               }
               .icons{
                    margin-top: 7px;
               }
               .text{
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;
               }
               .country{
                    width: 100%;
                    margin: 0.5rem;
               }
               .calo{
                    margin: 0.5rem;
                    .form-control{
                         width: 25%;
                         margin-left: 0.5rem;
                    }
                    .from{
                         margin-top: 5px;
                    }
                    .to{
                         margin-top: 5px;
                    }
                    .to{
                         margin-left: 1.5rem;
                    }
               }
               .provide{
                    margin: 0.5rem;
               }
               .rank{
                    margin: 0.5rem;
               }
          }
          
     }
}