.Discover {
  border-radius: 1rem;
  background: #EDEAE7;
  width: 100%;
  font-size: 15px;
  overflow: auto;
}
.Discover .plan {
  padding: 1rem;
  border-radius: 0.5rem;
  padding-right: 0px;
  height: auto;
}
.Discover .plan .my-plan {
  width: 45%;
  height: 290px;
  padding: 1rem;
  border-radius: 0.5rem;
}
.Discover .plan .my-plan .my-plan-01 {
  height: 50%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background: white;
  display: flex;
  flex-direction: row;
}
.Discover .plan .my-plan .my-plan-01 .plan-now {
  margin: 0.7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30%;
  background: #9FE2BF;
  cursor: pointer;
  text-decoration: none;
}
.Discover .plan .my-plan .my-plan-01 .plan-now .link {
  text-decoration: none;
  color: black;
}
.Discover .plan .my-plan .my-plan-01 .plan-now .status {
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background: white;
  margin-top: 0.5rem;
}
.Discover .plan .my-plan .my-plan-01 .add-plan {
  border: 2px dashed black;
  margin: 0.7rem;
  width: 30%;
  border-radius: 0.5rem;
  text-align: center;
}
.Discover .plan .my-plan .my-plan-01 .add-plan img {
  width: 60px;
  margin-top: 1rem;
}
.Discover .plan .my-plan .my-plan-02 {
  margin-top: 0.5rem;
  height: 32%;
  background: white;
  border-radius: 0.5rem;
}
.Discover .plan .my-plan .my-plan-02 .day {
  margin: 0.5rem;
  width: 100px;
  padding: 5px;
  border-radius: 0.5rem;
  background: #9FE2BF;
}
.Discover .plan .my-plan .my-plan-02 .daypl {
  cursor: pointer;
}
.Discover .plan .detail-day-plan {
  border-radius: 0.5rem;
  height: 275px;
  width: 29%;
  margin-right: 20px;
  background: #D1F2EB;
  margin-left: 0px;
  padding: 1rem;
  background: white;
}
.Discover .plan .detail-day-plan .parameter-day-plan {
  margin-top: 2rem;
}
.Discover .plan .detail-day-plan .parameter-day-plan img {
  width: 35px;
  margin-bottom: 7px;
}
.Discover .plan .detail-day-plan .title-day {
  margin: 0.2rem;
}
.Discover .note-day-plan {
  width: 24%;
  padding: 1rem;
}
.Discover .note-day-plan .note {
  margin-top: 0.5rem;
  height: 230px;
  border-radius: 0.5rem;
  background: white;
  color: black;
}
.Discover .food-exercise-plan {
  padding: 1rem;
  width: 100%;
  height: auto;
}
.Discover .food-exercise-plan .food {
  height: 100%;
  width: 97%;
  margin-bottom: 2rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.Discover .food-exercise-plan .food .info-meat {
  margin-left: 2rem;
  background: white;
  width: 180px;
  height: 90%;
  padding: 0.5rem;
  margin-right: 3rem;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
}
.Discover .food-exercise-plan .food .info-meat .title-meat {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.Discover .food-exercise-plan .food .info-meat .update-meat {
  margin-top: 0.5rem;
  padding: 0.3rem;
  background: #EDEAE7;
  border-radius: 0.5rem;
}
.Discover .food-exercise-plan .food .info-meat .update-meat img {
  width: 30px;
  margin-right: 5px;
}
.Discover .food-exercise-plan .food .food-menu {
  width: 245px;
  margin-bottom: 1rem;
  margin-right: 1.2rem;
}
.Discover .food-exercise-plan .food .food-menu .image-food {
  margin-left: 1rem;
}
.Discover .food-exercise-plan .food .food-menu .image-food img {
  width: 95px;
  border-radius: 100%;
  position: absolute;
}
.Discover .food-exercise-plan .food .food-menu .detail-food {
  background: white;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 74%;
}
.Discover .food-exercise-plan .food .food-menu .detail-food p {
  margin-bottom: 5px;
}
.Discover .food-exercise-plan .food .food-menu .detail-food img {
  width: 10px;
}
.Discover .food-exercise-plan .food .food-menu .detail-food .link {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=discover.css.map */