.Discover{
     border-radius: 1rem;
     background: #EDEAE7;
     width: 100%;
     padding: 0.5rem;
     font-size: 15px;
     overflow: auto;
     .plan{
          padding: 1rem;
          border-radius: 0.5rem;
          // background: #FCBABD;
          // border: 2px solid black;
          padding-right: 0px;
          height: auto;
          .my-plan{
               width: 45%;
               height: 290px;
               padding: 1rem;
               border-radius: 0.5rem;
               .my-plan-01{
               height: 50%;
               margin-top: 0.5rem;
               margin-bottom: 0.5rem;
               border-radius: 0.5rem;
               background: #FFFF;
               display: flex;
               flex-direction: row;
               .plan-now{
               margin: 0.7rem;
               padding: 0.5rem;
               border-radius: 0.5rem;
               width: 30%;
               background: #9FE2BF;
               cursor: pointer;
               text-decoration: none;
                    .link{
                         text-decoration: none;
                         color: black;
                    }
                    .status{
                         align-items: center;
                         text-align: center;
                         border-radius: 0.5rem;
                         background: #ffff;
                         margin-top: 0.5rem;
                    }
                }
               .add-plan{
               border: 2px dashed black;
               margin: 0.7rem;
               width: 30%;
               border-radius: 0.5rem;
               text-align: center;
                    img{
                    width: 60px;
                    margin-top: 1rem;
                    }
               }
          }
               .my-plan-02{
                    margin-top: 0.5rem;
                    height: 32%;
                    background: #FFFF;
                    border-radius: 0.5rem;
               .day{
               margin: 0.5rem;
               width: 100px;
               padding: 5px;
               border-radius: 0.5rem;
               background: #9FE2BF;
               }
               }
          }
          .detail-day-plan{
               border-radius: 0.5rem;
               height: 275px;
               width: 29%;
               margin-right: 20px;
               background: #D1F2EB;
               margin-left: 0px;
               padding: 1rem;
               background: #FFFF;
               .parameter-day-plan{
                    margin-top: 2rem;
                    img{
                         width: 35px;
                         margin-bottom: 7px;
                         // border: 2px solid black;
                    }
               }
               .title-day{
                    margin: 0.2rem;
               }
               
          }
     }

     .note-day-plan{
          width: 24%;
          padding: 1rem;
          // height: 280px;
          .note{
               margin-top: 0.5rem;
               height: 230px;
               border-radius: 0.5rem;
          }
     }
     .food-exercise-plan{
          padding: 1rem;
          width: 100%;
          height: auto;
          .food{
               height: 100%;
               margin-bottom: 2rem;
               margin-left: 2rem;
               .info-meat{
                    .title-meat{
                         margin-bottom: 1rem;
                    }
                    width: 180px;
                    height: auto;
                    padding: 0.5rem;
                    margin-right: 3rem;
                    .update-meat{
                         margin-top: 0.5rem;
                         padding: 0.3rem;
                         background: #FFFF;
                         border-radius: 0.5rem;
                         img{
                              width: 30px;
                              margin-right: 5px;
                         }
                    }
               }
               .food-menu{
               width: 250px;
               margin-bottom: 1rem;
               margin-right: 2rem;
                    .image-food{
                         margin-left: 1rem;
                         img{
                              width: 95px;
                              border-radius: 100%;
                              position: absolute;
                         }
                    }
                    .detail-food{
                         background: #FFFF;
                         border-radius: 1rem;
                         margin-top: 3rem;
                         padding-top: 0.5rem;
                         padding-left: 0.8rem;
                         padding-right: 0.8rem;
                         padding-bottom: 0.8rem;
                         cursor: pointer;
                         height: 74%;
                         p{
                              margin-bottom: 5px;
                         }
                         img{
                              width: 10px;
                         }
                         
                    }
          }
        }
     }

        .form-login{
          margin-top: 2rem;
          margin-bottom: 1rem;
          .register{
               margin-bottom: 0.7rem;
          }
     }
     .form-check-input{
          margin-right: 0.5rem;
     }
     .title{
          margin-top: 0.5rem;
          p{
               margin-top: 0.5rem;
          }
          span{
               cursor: pointer;
               &:hover{
                    color: blue;
               }
          }
     }
     .fb-gg{
          margin-top: 0.5rem;
          .Facebook{
               width: 40%;
               padding: 5px;
               border-radius: 0.5rem;
               cursor: pointer;
               img{
                    width: 40px;
                    border-radius: 5px;
               }
               .text{
                    width: 65%;
                    padding-top: 5px;
               }
               &:hover{
                    background:var(--SecondaryColor);
               }
          }
     }
     .modal-footer{
          margin-top: 2rem;
     }
     .w-dis-age{
          width: 100px;
          text-align: center;
     }
     .w-dis-date{
          width: 170px;
          text-align: center;
     }
     input{
          margin-top: 0.5rem;
     }
}
