.test-nav{
     background: #FFFF;
     // background: #7952b3;
     padding: 1rem 0.5rem 0.5rem 0.5rem;
     // border-bottom: 1px solid #CAD3D7;
     // position: fixed;
     // padding-left: 0.5rem;
     
     .input-search{
          width: 80%;
          height: 40px;
          background: #FFFF;
          border: 1px solid #CAD3D7;
          border-radius: 1.5rem;
          margin-left: 1.5rem;
          .title-search{
               width: 92%;
               padding: 0.4rem 0.4rem 0.4rem 1rem;
               cursor: text;
               color: #515252;
          }
          
          span{
               font-size: 25px;
               // margin: 0.5rem;
               padding-left: 0.9rem;
               cursor: pointer;
               &:hover{
                    background: none;
               }
          }
          
     }

     .icons{
          .list-setting{
               .link-logout{
                    text-decoration: none;
                    color: #515252;
               }
               img{
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    margin-left: 1rem;
                    margin-right: 0.7rem;
                    cursor: pointer;
                    &:hover{
                         border: 3px solid #CAD3D7;
                    }
               }
               p{
                    cursor: pointer;
                    padding: 0.2rem;
                    margin: 0.2rem;
                    border-radius: 0.5rem;
                    &:hover{
                         background: #4682A9;
                         color: white;
                    }
                    span{
                         margin-right: 0.5rem;
                         margin-left: 0.2rem;
                    }
               }
          }
          .list-icons{
               span{
                    color: #686b6b;
                    // color: #FFFF;
                    font-size: 27px;
                    // margin-left: 1rem;
                    margin-left: 0.5rem;
                    margin-right: 0.9rem;
                    border-radius: 0.3rem;
                    // background: #FFFF;
                    cursor: pointer;
                    &:hover{
                         // background: #4682A9;
                         color: black;
                         // padding: 0.5rem;
                    }
               }
          }
         
     }
     .chat-box{
          .modal-dialog{
               .modal-content{
                    height: 600px;
                    color: #515252;
                    .nav-chat{
                         padding: 0.7rem;
                         border-bottom: 1px solid #CAD3D7;
                         .title-chat{
                              font-size: 18px;
                         }
                         span{
                              cursor: pointer;
                         }
                    }
                    .body-chat{
                         // padding: 0.7rem;
                         height: 100%;
                         .user-chat{
                              width: 23%;
                              border-right: 1px solid #CAD3D7;
                              .user-chat-items{
                                   width: 100%;
                                   background: #EEF0F5;
                                   padding: 0.5rem;
                                   height: 60px;
                                   img{
                                        width: 40px;
                                        height: 40px;
                                   }
                                   .infor-user{
                                        .name-user{
                                             font-size: 15px;
                                             font-weight: bold;
                                        }
                                   }
                              }
                         }
                         .infor-chat{
                              width: 76%;
                         }
                    }
               }
          }
          
     }
     .search-box{
          .modal-dialog{
               .modal-content{
                    .modal-body{
                         // border: 2px solid black;
                         height: 100vh;
                         padding-top: 0rem;
                         .index{
                              width: 100%;
                              .index-result{
                                   width: 57%;
                                   height: 55px;
                                   // border: 2px solid black;
                                   margin-top: 0.5rem;
                                   .select-items{
                                        padding: 0.4rem;
                                        cursor: pointer;
                                        font-weight: bold;
                                        border: none;
                                        
                                        &:focus{
                                             outline: none;
                                        }
                                        
                                   }
                                   .title-search{
                                        margin: 1.5rem;
                                        font-size: 15px;
                                        font-weight: bold;
                                   }
                              }
                         }
                         .search-box{
                              width: 100%;
                              border-bottom: 1px solid #CAD3D7;
                              .nav-search{
                                   width: 60%;
                                   padding: 0.5rem;
                                   
                                   span{
                                        font-size: 25px;
                                        cursor: pointer;
                                        margin-right: 1rem;
                                        margin-left: 1.5rem;
                                        &:hover{
                                             border-radius: 100%;
                                             background: #d5d7d8;
                                        }
                                   }
                                   input{
                                        padding: 0.5rem;
                                        border: none;
                                        font-size: 18px;
                                        width: 85%;
                                        border-bottom: 1px solid white;
                                        font-weight: bold;
                                        &:focus{
                                             outline: none;
                                             border-bottom: 1px solid #272829;
                                        }
                                   }
                              }
                         }
                         .result-search{
                              width: 100%;
                              padding: 0.5rem;
                              .result{
                                   // border: 2px solid black;
                                   width: 50%;
                                   .items{
                                        padding: 0.8rem;
                                        border-bottom: 1px solid #CAD3D7;
                                        margin: 0.4rem;
                                        cursor: pointer;
                                        &:hover{
                                             background: #edf1f2;     
                                             border-radius: 0.5rem;
                                        }
                                        img{
                                             width: 77px;
                                             height: 77px;
                                             border-radius: 0.5rem;   
                                        }
                                        .infor{
                                             margin-left: 1.5rem;
                                             width: 80%;
                                             .name{
                                                  font-size: 16px;
                                                  font-weight: bold;
                                             }     
                                             span{
                                                  margin-left: 0.3rem;
                                             }
                                             .main{
                                                  
                                             }
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }
}