.Plan {
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  font-size: 15px;
  overflow: auto;
}
.Plan span {
  cursor: pointer;
}
.Plan span:hover {
  background: aliceblue;
}
.Plan .create-food {
  width: 78%;
  overflow: auto;
  margin-left: 0.6rem;
  padding-right: 0.5rem;
}
.Plan .create-food .food-day-note {
  height: 160px;
}
.Plan .create-food .food-day-note .food-day {
  background: #FBE9BB;
  padding: 0.5rem;
  width: 70%;
  border-radius: 0.5rem;
}
.Plan .create-food .food-day-note .food-day img {
  width: 50px;
  margin-top: 5px;
}
.Plan .create-food .food-day-note .food-day .day .day-one {
  text-align: center;
  width: 130px;
  height: 65px;
  cursor: pointer;
  margin-right: 0.5rem;
  border: 2px dashed black;
  border-radius: 0.5rem;
}
.Plan .create-food .food-day-note .note {
  width: 300px;
}
.Plan .create-food .food {
  height: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  background: white;
}
.Plan .create-food .food .food-menu {
  width: 210px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.Plan .create-food .food .food-menu .image-food {
  margin-left: 1rem;
}
.Plan .create-food .food .food-menu .image-food img {
  width: 85px;
  border-radius: 100%;
  position: absolute;
}
.Plan .create-food .food .food-menu .detail-food {
  background: #9FE2BF;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 120px;
}
.Plan .create-food .food .food-menu .detail-food .calo button {
  border: none;
  padding: 2px;
  border-radius: 2px;
}
.Plan .create-food .food .food-menu .detail-food p {
  margin-top: 0px;
}
.Plan .create-food .food .food-menu .detail-food img {
  width: 10px;
}
.Plan .create-food .food .food-menu .detail-food .link {
  text-decoration: none;
  color: black;
}
.Plan .create-food .food .food-1 {
  border: 2px dashed black;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.Plan .create-food .food .food-1 img {
  width: 60px;
  margin-top: 0.5rem;
}
.Plan .create-food .food .btn-info {
  height: 120px;
  margin-right: 1rem;
}
.Plan .create-food .div-dl {
  width: 150px;
  background: #85C1E9;
  border-radius: 0.5rem;
  margin-top: 10px;
  cursor: pointer;
}
.Plan .create-food .div-dl p {
  margin-top: 10px;
}
.Plan .create-food .div-dl .img-dl {
  cursor: pointer;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
}
.Plan .create-food .image-dayfood {
  width: 60px;
  margin: 1rem;
  margin-left: 45%;
  border: 2px dashed black;
  border-radius: 10px;
  cursor: pointer;
}
.Plan .create-food .exercise {
  height: 200px;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: white;
  align-items: center;
}
.Plan .create-food .exercise .exercise-1 {
  border: 2px dashed black;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.Plan .create-food .exercise .exercise-1 img {
  width: 60px;
  margin-top: 0.5rem;
}
.Plan .create-food .exercise .btn-info {
  height: 120px;
}
.Plan .create-food p {
  margin-top: 1rem;
}
.Plan .day-plan {
  align-items: center;
  width: 20%;
  border-radius: 0.5rem;
  height: 100%;
  padding-top: 0.5rem;
  background: #C2DEDC;
}
.Plan .day-plan img {
  width: 30px;
  cursor: pointer;
}
.Plan .day-plan li {
  list-style-type: none;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Plan .day-plan li img {
  width: 20px;
}
.Plan .day-plan p {
  margin-left: 7px;
}
.Plan .day-plan p span {
  margin-left: 4.5rem;
}
.Plan .day-plan .btn-create .form-control {
  margin-bottom: 1rem;
}
.Plan .day-plan .btn-create .btn {
  margin-bottom: 1rem;
}
.Plan .master {
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}
.Plan .master:hover {
  background: #8DDFCC;
}
.Plan .master img {
  width: 30px;
}
.Plan .food-menu {
  width: 18%;
  margin-bottom: 1rem;
}
.Plan .food-menu .image-food {
  margin-left: 1rem;
}
.Plan .food-menu .image-food img {
  width: 95px;
  border-radius: 100%;
  position: absolute;
}
.Plan .food-menu .detail-food {
  background: white;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 70%;
}
.Plan .food-menu .detail-food p {
  margin-bottom: 5px;
}
.Plan .food-menu .detail-food img {
  width: 10px;
}
.Plan .modal .modal-body {
  background: #EDEAE7;
}
.Plan .modal .modal-body .dropdown {
  cursor: pointer;
}
.Plan .modal .modal-body .dropdown img {
  width: 35px;
}
.Plan .modal .modal-body .menu-list {
  margin-bottom: 220px;
}
.Plan .modal .modal-body .menu-list .food {
  margin-left: 1rem;
  width: 90%;
  padding-left: 2.5rem;
}
.Plan .modal .modal-body .menu-list .food .title-menu {
  margin-bottom: 1.5rem;
  margin-top: 0.7rem;
}
.Plan .modal .modal-body .menu-list .food .food-menu {
  width: 24%;
  margin-bottom: 1rem;
}
.Plan .modal .modal-body .menu-list .food .food-menu .image-food {
  margin-left: 1rem;
}
.Plan .modal .modal-body .menu-list .food .food-menu .image-food img {
  width: 95px;
  border-radius: 100%;
  position: absolute;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food {
  background: white;
  border-radius: 1rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
  height: 70%;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food p {
  margin-bottom: 7px;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food img {
  width: 10px;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food .link {
  text-decoration: none;
  color: black;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food .calo {
  margin-bottom: 5px;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food .calo .options {
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 70px;
}
.Plan .modal .modal-body .menu-list .food .food-menu .detail-food .calo .options:hover {
  background: #99DBF5;
}
.Plan .modal .modal-body .menu-list .nav {
  width: 18%;
  padding: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .form-check-input {
  margin-right: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .icons {
  margin-top: 7px;
}
.Plan .modal .modal-body .menu-list .nav .text {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .country {
  width: 100%;
  margin: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .calo {
  margin: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .calo .form-control {
  width: 25%;
  margin-left: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .calo .from {
  margin-top: 5px;
}
.Plan .modal .modal-body .menu-list .nav .calo .to {
  margin-top: 5px;
}
.Plan .modal .modal-body .menu-list .nav .calo .to {
  margin-left: 1.5rem;
}
.Plan .modal .modal-body .menu-list .nav .provide {
  margin: 0.5rem;
}
.Plan .modal .modal-body .menu-list .nav .rank {
  margin: 0.5rem;
}
.Plan .modal .modal-body .food-user-confirm {
  width: 95%;
  background: white;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  margin-right: 1rem;
  height: 190px;
  margin-left: 0px;
  border-radius: 1rem;
}
.Plan .modal .modal-body .food-user-confirm .btn-save {
  height: 35%;
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #9FE2BF;
}
.Plan .modal .modal-body .food-user-confirm .btn-save:hover {
  background: white;
}
.Plan .modal .modal-body .food-user-confirm .notes {
  border: 2px dashed black;
  height: 60%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Plan .modal .modal-body .food-user-confirm .food-menu {
  width: 15%;
  margin-bottom: 0rem;
  margin-right: 1rem;
}
.Plan .modal .modal-body .food-user-confirm .food-menu .image-food {
  margin-left: 1rem;
}
.Plan .modal .modal-body .food-user-confirm .food-menu .image-food img {
  width: 85px;
  border-radius: 100%;
  position: absolute;
}
.Plan .modal .modal-body .food-user-confirm .food-menu .detail-food {
  background: #9FE2BF;
  border-radius: 1rem;
  margin-top: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  cursor: pointer;
  height: 65%;
}
.Plan .modal .modal-body .food-user-confirm .food-menu .detail-food .calo {
  margin-bottom: 5px;
}
.Plan .modal .modal-body .food-user-confirm .food-menu .detail-food .calo button {
  width: 50px;
  padding: 3px;
  background: white;
  border-radius: 0.5rem;
  border: none;
}
.Plan .newPlan .modal-header {
  padding: 12px;
}
.Plan .newPlan .modal-body, .Plan .newPlan .verify {
  padding: 1rem;
  height: 200px;
}
.Plan .newPlan .modal-body .namePlan, .Plan .newPlan .modal-body .form-control, .Plan .newPlan .verify .namePlan, .Plan .newPlan .verify .form-control {
  margin-bottom: 1rem;
}/*# sourceMappingURL=plan.css.map */